<section id="footer" class="relative py-10 hover:overflow-hidden bg-slate-50 border-t">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 font-jost">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-8">
            <div>
                <img src="assets/img/logo-png.png" alt="logo" class="h-12 mb-4">
                <p class="text-sm text-color-primary font-jost">
                    SOS Ouvrier est une application dédiée à la protection des droits des travailleurs. Notre mission
                    est
                    de fournir un outil efficace pour signaler les abus et défendre les droits des ouvriers.
                </p>
            </div>
            <div>
                <h3 class="text-md font-semibold text-color-secondary mb-3 underline">Produit</h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="#" class="text-color-primary hover:underline">Fonctionnalités</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Vitrine</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Tarifications</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-md font-semibold text-color-secondary mb-3 underline">Société</h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="#" class="text-color-primary hover:underline">Accueil</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">À Propos</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Témoignages</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-md font-semibold text-color-secondary mb-3 underline">Ressources</h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="#" class="text-color-primary hover:underline">FAQ</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Documentation</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Télécharger l'appli</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-md font-semibold text-color-secondary mb-3 underline">Légales</h3>
                <ul class="space-y-2 text-sm">
                    <li><a href="#" class="text-color-primary hover:underline">Mentions légales</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Politique de confidentialité</a></li>
                    <li><a href="#" class="text-color-primary hover:underline">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="p-8 font-jost bg-color-primary-dark text-center text-sm text-color-white">
  <p>Copyright &copy; {{ currentYear }} <span class="text-color-secondary">SOS Ouvrier</span>. Tous droits réservés.</p>
</div>