<header id="navbar" [ngClass]="{'bg-color-white border-b': isScrolled}" class="sticky w-full top-0 left-0 z-50 transition duration-300 ease-in-out">
    <nav class="container flex justify-between items-center">
        <!-- Logo -->
        <div class="font-lobster sm:text-2xl cursor-pointer">
            <a href="">
                <img [src]="logoPath" alt="logo" class="w-32 h-16">
            </a>
        </div>

        <!-- Menu principal -->
        <div id="nav-menu" 
             [class.left-[-102%]]="!isMenuOpen"
             [class.left-0]="isMenuOpen"
             class="absolute top-0 min-h-[80vh] w-full bg-color-secondary backdrop-blur-xl flex items-center justify-center duration-300 overflow-hidden lg:static lg:min-h-fit lg:bg-transparent lg:w-auto">
            
            <ul class="flex flex-col items-center gap-8 lg:flex-row">
                <li *ngFor="let item of navItems" class="border-b border-color-primary lg:border-0 lg:mb-0 mb-4 hover:border-color-white duration-300 ease-linear">
                    <a [href]="item.link" class="nav-link font-semibold text-color-primary" (click)="handleNavClick($event, item.link)">
                        {{ item.label }}
                    </a>
                </li>
            </ul>

            <!-- Décorations -->
            <div class="absolute bottom-0 -right-10 opacity-90 lg:hidden">
                <img [src]="case" alt="case_image" class="w-32">
            </div>
            <div class="absolute top-0 -left-7 opacity-90 lg:hidden">
                <img [src]="logoPath" alt="logo_image" class="w-32">
            </div>
        </div>

        <!-- Bouton Téléchargement -->
        <div>
            <button class="btn btn_outline text-color-secondary hover:text-color-white" (click)="downloadApp()">
                <span class="font-bold">Télécharger </span>
                <i class="ri-download-line"></i>
            </button>
        </div>

        <!-- Bouton Hamburger -->
        <div class="text-xl sm:text-3xl cursor-pointer z-50 lg:hidden">
            <i [class.ri-close-line]="isMenuOpen" 
               [class.ri-menu-4-line]="!isMenuOpen" 
               (click)="toggleMenu()"></i>
        </div>
    </nav>
</header>