<section id="about" class="relative bg-color-primary py-10 hoverflow-hidden">
    <div class="container pt-10 pb-20">
        <!-- blob 1 -->
        <!-- <div
            class="hidden w-36 h-36 bg-color-white rounded-full blur-2xl opacity-50 absolute left-0 top-5 xl:block">
        </div> -->
        <i class="ri-bard-fill text-5xl text-color-secondary absolute left-20 top-20 animate-scalingUp max-sm:hidden"></i>
        <!-- <div
            class="hidden w-24 h-24 bg-color-secondary rounded-full blur-2xl opacity-50 absolute left-20 top-20 xl:block">
        </div> -->
        <!-- blob 2 -->
         <i class="ri-bard-fill text-5xl text-color-white absolute right-0 bottom-5"></i>
        <!-- <div
            class="hidden w-24 h-24 bg-color-secondary rounded-full blur-2xl opacity-50 absolute right-0 bottom-5 xl:block">
        </div> -->
        <div class="text-center m-auto -mt-10 mb-20 md:w-1/2">
            <h2 class="font-bold text-color-secondary mb-4 max-sm:text-3xl">
                Pourquoi choisir SOS Ouvrier ?
                <i class="ri-bard-fill text-5xl text-color-secondary absolute left-20 top-20 animate-scalingUp hidden max-sm:block"></i>
            </h2>
            <h1 class="title text-color-white font-semibold font-jost">Notre application regorge de fonctionnalités pour rendre votre recherche d'emploi ou votre processus d'embauche fluide et efficace.</h1>
        </div>

        <div
            class="grid lg:grid-cols-3 xl:grid-cols-3 md:grid-cols-2 gap-12 lg:gap-8 px-4 sm:px-6 lg:px-8 text-color-white">
            <!-- card no 1 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-search-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Recherche avancée</h3>
                <p class="leading-relaxed">Trouvez facilement des emplois à durée déterminée grâce à des filtres puissants et à la recherche par mot-clé.</p>
            </div>

            <!-- card no 2 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-briefcase-3-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Publiez sans effort</h3>
                <p class="leading-relaxed">Les employeurs peuvent rapidement publier des offres d’emploi et atteindre des candidats qualifiés.</p>
            </div>

            <!-- card no 3 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-time-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Optimisation du temps</h3>
                <p class="leading-relaxed">Optimisez vos embauches ou recherche d'emploi en contrat à durée déterminée, sans perte de temps.</p>
            </div>

            <!-- card no 4 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-article-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Applications simplifiées</h3>
                <p class="leading-relaxed">Postulez à des emplois en quelques clics, en gérant vos candidatures en un seul endroit.</p>
            </div>

            <!-- card no 5 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-group-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Correspondance de profil</h3>
                <p class="leading-relaxed">Obtenez des suggestions d’emploi pertinentes en fonction de vos compétences et de vos préférences.</p>
            </div>

            <!-- card no 6 -->
            <div
                class="card border-2 border-solid border-color-secondary text-center cursor-pointer">
                <div class="bg-color-secondary inline-block rounded-2xl py-2 px-3">
                    <i class="ri-flashlight-line text-4xl"></i>
                </div>
                <h3 class="text-xl font-bold py-4">Notifications instantanées</h3>
                <p class="leading-relaxed">Recevez des alertes en temps réel sur les nouvelles offres d’emploi correspondant à votre profil.</p>
            </div>
        </div>
    </div>
</section>