<section id="how-it-works" class="relative bg-color-primary-dark">
    <div class="container pt-10 pb-20">
        <!-- blob 1 -->
        <div class="hidden w-40 h-40 bg-color-secondary rounded-full blur-2xl opacity-50 absolute right-10 top-5 xl:block">
        </div>
        <i class="ri-bubble-chart-fill text-5xl text-color-secondary absolute left-36 top-36 animate-rotating bubble1"></i>
        <i class="ri-bubble-chart-fill text-5xl text-color-white absolute right-20 bottom-10 animate-rotating bubble2"></i>
        <div class="text-center m-auto mb-20 md:w-1/2">
            <h2 class="font-bold text-color-secondary mb-4">Comment ça marche ?</h2>
            <h1 class="title font-jost text-color-white font-semibold">Lancez-vous dans l'aventure</h1>
        </div>

        <div class="flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0 md:space-x-6 text-color-white">
            <!-- card 1 -->
            <div class="text-center cursor-pointer">
                <div
                    class="relative bg-color-primary inline-block px-6 py-3 rounded-lg cursor-pointer hover:bg-color-secondary ease-in duration-200 shadow-xl">
                    <p
                        class="text-6xl lg:after:content-[''] lg:after:flex lg:after:bg-[url('assets/img/line.png')] lg:after:absolute lg:after:top-4 lg:after:left-32 2xl:after:left-52 lg:after:bg-no-repeat lg:after:h-7 lg:after:w-52">
                        1</p>
                </div>
                <h3 class="text-xl font-bold py-4 font-jost">Installer l'application</h3>
                <p class="leading-relaxed">Rendez-vous sur le Play Store ou l'App Store pour télécharger et installer l'application.</p>
            </div>

            <!-- card 2 -->
            <div class="text-center cursor-pointer">
                <div
                    class="relative inline-block px-6 py-3 rounded-lg cursor-pointer bg-color-secondary ease-in duration-200 shadow-xl">
                    <p
                        class="text-6xl lg:after:content-[''] lg:after:flex lg:after:bg-[url('assets/img/line-bottom.png')] lg:after:absolute lg:after:top-10 lg:after:left-32 2xl:after:left-52 lg:after:bg-no-repeat lg:after:h-7 lg:after:w-52">
                        2</p>
                </div>
                <h3 class="text-xl font-bold py-4 font-jost">Configurer votre profil</h3>
                <p class="leading-relaxed">Créez votre compte et personnalisez votre profil pour une expérience optimale.</p>
            </div>

            <!-- card 3 -->
            <div class="text-center cursor-pointer">
                <div
                    class="relative bg-color-primary inline-block px-6 py-3 rounded-lg cursor-pointer hover:bg-color-secondary ease-in duration-200 shadow-xl">
                    <p class="text-6xl">3</p>
                </div>
                <h3 class="text-xl font-bold py-4 font-jost">Profitez des fonctionnalités !</h3>
                <p class="leading-relaxed">Explorez toutes les fonctionnalités de l'application et tirez-en le meilleur parti.</p>
            </div>
        </div>
    </div>
</section>